@using Microsoft.AspNet.Identity

@*若確認使用者登入，則顯示使用者名稱，並列出兩個連結*@
@if (Request.IsAuthenticated)
{
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("看板列表", "Index", "Board")</li>
    <li>@Html.ActionLink("動態功能", "Index", "NewsArticle")</li>    
    <li>@Html.ActionLink("好友功能", "Index", "Friendship")</li>
    <li>@Html.ActionLink("抽卡功能", "Card", "Member")</li>
</ul>
    <ul class="nav navbar-nav pull-right">
        <li><a>您好，@(User.Identity.Name)!</a></li>
        <li>@Html.ActionLink("變更密碼", "ChangePassword", "Member")</li>
        <li>@Html.ActionLink("登出", "Logout", "Member")</li>
    </ul>
}
@*若無使用者登入，則列出兩個連結*@
else
{
    <ul class="nav navbar-nav pull-right">
        <li>@Html.ActionLink("註冊", "Register", "Member")</li>
        <li>@Html.ActionLink("登入", "Login", "Member")</li>
    </ul>
}
