@model MyForum.ViewModel.MessageView
@Styles.Render("~/Content/boardlist")

@*標題*@
<div class="page-header">
    <h4>留言</h4>
</div>
<dl class="dl-horizontal message-block">
    @*若資料庫中有文章留言，將會列出文章留言*@
    @if (!Model.DataList.Count.Equals(0))
    {
        foreach (var item in Model.DataList)
        {
            <dt id="name">
                @item.Member.Name：
            </dt>
            <dd>
                <div class="message" style="color:#fff">
                    @item.Content
                </div>
            </dd>
        }
    }
    @*若無留言，則印出"尚無留言"*@
    else
    {
        <dt></dt>
        <dd>
            尚無留言
        </dd>
    }
</dl>
@*產生頁碼按鈕*@
<div class="col-xs-12 text-center">
    <ul class="pagination">
        @*顯示上一頁與最前頁按鈕*@
        <li class="first @((Model.Paging.NowPage > 1) ? "" : " disabled")">
            @Ajax.ActionLink("<<", "DataList", new { A_Id = Model.A_Id, Page = 1 },
                new AjaxOptions { UpdateTargetId = "DataList", InsertionMode = InsertionMode.Replace })
        </li>
        <li class="pervious @((Model.Paging.NowPage > 1) ? "" : " disabled")">
            @Ajax.ActionLink("<", "DataList", new { A_Id = Model.A_Id, Page = Model.Paging.NowPage - 1 },
                new AjaxOptions { UpdateTargetId = "DataList", InsertionMode = InsertionMode.Replace })
        </li>
        @*顯示各個頁次按鈕*@
        @for (var page = (Model.Paging.NowPage - 6);
                page < (Model.Paging.NowPage + 6); page++)
        {
            if ((page > 0) && (page <= Model.Paging.MaxPage))
            {
                if (page == Model.Paging.NowPage)
                {
                    <li class="active">
                        <a href="#">@page</a>
                    </li>
                }
                else
                {
                    <li>
                        @Ajax.ActionLink(page.ToString(), "DataList", new { A_Id = Model.A_Id, Page = page },
                            new AjaxOptions { UpdateTargetId = "DataList", InsertionMode = InsertionMode.Replace })
                    </li>
                }
            }
        }
        @*顯示下一頁與最後一頁的按鈕*@
        <li class="next @(((Model.Paging.NowPage < Model.Paging.MaxPage) ? "" : " disabled"))">
            @Ajax.ActionLink(">", "DataList", new { A_Id = Model.A_Id, Page = Model.Paging.NowPage + 1 },
                new AjaxOptions { UpdateTargetId = "DataList", InsertionMode = InsertionMode.Replace })
        </li>
        <li class="last @(((Model.Paging.NowPage < Model.Paging.MaxPage) ? "" : " disabled"))">
            @Ajax.ActionLink(">>", "DataList", new { A_Id = Model.A_Id, Page = Model.Paging.MaxPage },
                new AjaxOptions { UpdateTargetId = "DataList", InsertionMode = InsertionMode.Replace })
        </li>
    </ul>
</div>
