@model MyForum.ViewModel.FriendshipView

@*文章列表表格*@
<div class="table-responsive">
    <table class="table table-hover" id="block">
        @*若資料庫中有文章，將會列出文章*@
        @if (Model.DataList.Count != 0)
        {
            <thead>
                <tr>
                    <th class="top" id="friend-join-top">
                        @*放加入好友了欄位*@
                    </th>
                    <th class="top" id="friend-top">
                        @Html.DisplayNameFor(model => model.DataList[0].Name)
                    </th>
                    <th class="top" id="friend-top">
                        @Html.DisplayNameFor(model => model.DataList[0].Email)
                    </th>

                </tr>
            </thead>
            foreach (var item in Model.DataList)
            {
                <tr>
                    <td class="content">
                        @Html.ActionLink("加入", "Add", new { p2 = @item.Account })
                    </td>
                    <td class="content" id="name">
                        @item.Name
                    </td>
                    <td class="content" id="else-name">
                        @item.Email
                    </td>
                </tr>
            }
        }
        else
        {
            @*若無好友，則印出"我邊緣人啦"*@
            <tr>
                <td colspan="4">
                    我邊緣人啦
                </td>
            </tr>
        }
    </table>
</div>

