@model MyForum.ViewModel.BoardView

@{
    ViewBag.Title = "家族列表";
}

@section scripts
{
    @*匯入驗證與AJAX所須的JavaScript*@
    @Scripts.Render("~/bundles/jqueryval")
    @*匯入本頁面的JavaScript*@
    @Scripts.Render("~/jQuery/Board/ArticleList.js")
}

@Styles.Render("~/Content/famlist")
@*<link href="@Url.Content("~/Content/styles/famlist.css")" rel="stylesheet" type="text/css" />*@
<body style="background-color:#1B1E28;">
    <div class="page-header">
        <h1>家族列表</h1>
    </div>

    @*載入家族列表內容*@
    <div id="ArticleListBlock">
        @Html.Action("List", "FamList")
    </div>

    @*新增文章按鈕，並設定使用AJAX取得內容後開啟跳窗*@
    @Ajax.ActionLink("新增家族", "Create", "FamList", null,
        new AjaxOptions { UpdateTargetId = "CreateArticleModal", InsertionMode = InsertionMode.Replace },
        new { @class = "btn btn-default", @data_toggle = "modal", @data_target = "#CreateArticleModal" })
    @*新增文章預留表單跳窗*@
    <div class="modal fade" id="CreateArticleModal" tabindex="-1" role="dialog" aria-labelledby="CreateArticleModalLabel" aria-hidden="true">

    </div>
</body>