@model MyForum.ViewModel.BoardView
@*看版列表表格*@
<div class="table-responsive">
    <table class="table table-hover" id="block">
        @*若資料庫中有看版，將會列出看版*@
        @if (!Model.DataList.Count.Equals(0))
        {
            <thead>
                <tr>
                    <th class="top" id="board-top">
                        @Html.DisplayNameFor(model => model.DataList[0].B_name)
                    </th>
                    <th class="top" id="board-top">
                        @Html.DisplayNameFor(model => model.DataList[0].Account)
                    </th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th></th>
                    }
                </tr>
            </thead>
            foreach (var item in Model.DataList)
            {
                <tr>
                    <td class="content">
                        @Html.ActionLink(item.B_name, "List", "Home", new {@class="action-link", B_Id = item.B_Id}, new { @style = "color: #fff" })
                    </td>
                    <td class="content" id="name">
                        @item.Member.Name
                    </td>
                </tr>
            }
        }
        @*若無文章，則印出"尚無看版"*@
        else
        {
            <thead>
                <tr>
                    <th id="tb" class="top">
                        @Html.DisplayNameFor(model => model.DataList[0].B_name)
                    </th>
                    <th id="ta" class="top">
                        @Html.DisplayNameFor(model => model.DataList[0].Account)
                    </th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th></th>
                    }
                </tr>
            </thead>

            <tr>
                <td colspan="4" id="name">
                    尚無看版
                </td>
            </tr>
        }
    </table>
</div>
@*產生頁碼按鈕*@
<div class="col-xs-12 text-center">
    <ul class="pagination">
        @*顯示上一頁與最前頁按鈕*@
        <li class="first @((Model.Paging.NowPage > 1) ? "" : " disabled")">
            @Ajax.ActionLink("<<", "List",
                new { Page = 1, Search = Model.Search },
                new AjaxOptions { UpdateTargetId = "ArticleListBlock", InsertionMode = InsertionMode.Replace })
        </li>
        <li class="pervious @((Model.Paging.NowPage > 1) ? "" : " disabled")">
            @Ajax.ActionLink("<", "List",
                new { Page = Model.Paging.NowPage - 1, Search = Model.Search },
                new AjaxOptions { UpdateTargetId = "ArticleListBlock", InsertionMode = InsertionMode.Replace })
        </li>
        @*顯示各個頁次按鈕*@
        @for (var page = (Model.Paging.NowPage - 6);
                page < (Model.Paging.NowPage + 6); page++)
        {
            if ((page > 0) && (page <= Model.Paging.MaxPage))
            {
                if (page == Model.Paging.NowPage)
                {
                    <li class="active">
                        <a href="#">@page</a>
                    </li>
                }
                else
                {
                    <li>
                        @Ajax.ActionLink(page.ToString(), "List",
                            new { Page = page, Search = Model.Search },
                            new AjaxOptions { UpdateTargetId = "ArticleListBlock", InsertionMode = InsertionMode.Replace })
                    </li>
                }
            }
        }
        @*顯示下一頁與最後一頁的按鈕*@
        <li class="next @(((Model.Paging.NowPage < Model.Paging.MaxPage) ? "" : " disabled"))">
            @Ajax.ActionLink(">", "List",
                new { Page = Model.Paging.NowPage + 1, Search = Model.Search },
                new AjaxOptions { UpdateTargetId = "ArticleListBlock", InsertionMode = InsertionMode.Replace })
        </li>
        <li class="last @(((Model.Paging.NowPage < Model.Paging.MaxPage) ? "" : " disabled"))">
            @Ajax.ActionLink(">>", "List",
                new { Page = Model.Paging.MaxPage, Search = Model.Search },
                new AjaxOptions { UpdateTargetId = "ArticleListBlock", InsertionMode = InsertionMode.Replace })
        </li>
    </ul>
</div>