@model MyForum.Models.Article

@{
    ViewBag.Title = Model.Title;
}

@section scripts
{
    @*匯入驗證與AJAX所須的JavaScript*@
    @Scripts.Render("~/bundles/jqueryval")
    @*匯入本頁面的JavaScript*@
    @Scripts.Render("~/jQuery/Home/Article.js")
}
<link href="@Url.Content("~/Content/styles/article.css")" rel="stylesheet" type="text/css" />
<body style="background-color:#1B1E28;">
    @*顯示文章詳細內容表格*@
    <div class="page-header">
        <h1>@Model.Title</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayNameFor(model => model.Content)</h3>
        </div>
        <div class="panel-body">
            @Html.Raw(Model.Content.Replace("\r\n", "<br />"))
            <p class="text-right">
                觀看人數：@Model.Watch
            </p>
        </div>
        <div class="panel-footer text-right">
            @Model.Member.Name 留
        </div>
    </div>

    @*判斷是否登入且為發布者，若為發布者，則顯示"修改留言"連結*@
    @if (User.Identity.IsAuthenticated && Model.Account == User.Identity.Name
            && Model.Message.Count == 0)
    {
        @Ajax.ActionLink("修改留言", "Edit", "Home", new { Id = Model.A_Id },
            new AjaxOptions { UpdateTargetId = "EditArticleModal", InsertionMode = InsertionMode.Replace },
            new { @class = "btn btn-default", @data_toggle = "modal", @data_target = "#EditArticleModal" })
        <div class="modal fade" id="EditArticleModal" tabindex="-1" role="dialog" aria-labelledby="CreateArticleModalLabel" aria-hidden="true">

        </div>
    }

    @*顯示"返回文章列表"連結*@
    @Html.ActionLink("返回文章列表", "Index")

    @*呼叫另一Action顯示文章留言列表*@
    <div id="MessageList">
        @Html.Action("Index", "Message", new { Id = Model.A_Id })
    </div>
</body>